<div class="container">
  <div class="row">
    <div class="col-6 border border-muted rounded mt-3 mr-3 mb-5">
      <h3 class="mt-3 mb-3 text-center">Your Order Summary</h3>
      <hr class="my-4">
      <% @order_items.each do |item| %>
      <div class="row">
        <div class="col-8">
          <h4><strong><%= item.product.name %></strong></h4></br>
          <p><strong>Unit Price: </strong><%= number_to_currency item.product.price %></p>
          <p><strong>Quantity: </strong><%= item.quantity %><p>
          <p><strong>Total: </strong><%= number_to_currency item.unit_price * item.quantity %></p>
        </div>
        <div class="col-4">
          <img src="<%= item.product.image.url(:thumb) %>" class="mt-4">
        </div>
      </div>
      <hr class="my-4">
      <% end %>
      <h4 class="text-right">Subtotal: <%= number_to_currency current_order.subtotal %></h4>
      <h6 class="text-right">Tax (6%): <%= number_to_currency current_order.tax %></h6>
      <h6 class="text-right">Shipping: <%= number_to_currency current_order.shipping %></h6>
      <hr class="my-4">
      <h2 class="text-right mb-4">Total: <%= number_to_currency current_order.total %></h1>
    </div>

    <div class="col-5 border border-muted rounded mt-3 h-50 sticky-top sticky-offset">
      <h3 class="mt-3 text-center">Payment Information</h3>
      <div class="text-center">
        <span><i class="fab fa-cc-visa fa-4x text-primary"></i></span>
        <span><i class="fab fa-cc-amex fa-4x text-success"></i></span>
        <span><i class="fab fa-cc-mastercard fa-4x text-danger"></i></span>
        <span><i class="fab fa-cc-jcb fa-4x text-dark"></i></span>
        <span><i class="fab fa-cc-discover fa-4x text-warning"></i></span>
      </div>

      <div class="demo-frame">

        <%= form_for :checkout_form, url: braintree_checkout_path(@order_item.id), html: { id: "cardForm"} do |form| %>

        <%= form.label :card_number, "Credit Card Number", html: {class: "hosted-fields--label"} %>
        <div id="card-number" class="hosted-field"></div>

        <%= form.label :expiration_date, "Expiration Date", html: {class: "hosted-fields--label"} %>
        <div id="expiration-date" class="hosted-field"></div>

        <%= form.label :cvv, "CVV", html: {class: "hosted-fields--label"} %>
        <div id="cvv" class="hosted-field"></div>

        <%= form.hidden_field "payment_method_nonce" %>

        <div class="button-container">
          <%= form.submit "Pay Now", disabled: true, class: "btn btn-outline-success btn-lg", id: "submit-payment-btn" %>
        </div>
        <% end %>
      </div>
    </div>

  </div>

</div>

<script>
$(document).on('turbolinks:load', function(){
  var form = document.querySelector('#cardForm');
  var submit = document.querySelector("#submit-payment-btn");
  var authorization = '<%= @client_token %>';

  braintree.client.create({
    // Replace this with your own authorization.
    authorization: authorization
  }, function (clientErr, clientInstance) {
    if (clientErr) {
      // Handle error in client creation
      return;
    }

    braintree.hostedFields.create({
      client: clientInstance,
      styles: {
        'input': {
          'font-size': '14pt'
        },
        'input.invalid': {
          'color': 'red'
        },
        'input.valid': {
          'color': 'green'
        }
      },
      fields: {
        number: {
          selector: '#card-number',
          placeholder: '4111 1111 1111 1111'
        },
        cvv: {
          selector: '#cvv',
          placeholder: '123'
        },
        expirationDate: {
          selector: '#expiration-date',
          placeholder: '10/2019'
        }
      }
    }, function (hostedFieldsErr, hostedFieldsInstance) {
      if (hostedFieldsErr) {
        // Handle error in Hosted Fields creation
        return;
      }

      submit.removeAttribute('disabled');

      form.addEventListener('submit', function (event) {
        event.preventDefault();

        hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
          if (tokenizeErr) {
            // Handle error in Hosted Fields tokenization
            return;
          }

          // Put `payload.nonce` into the `payment_method_nonce` input, and then
          // submit the form. Alternatively, you could send the nonce to your server
          // with AJAX.
          document.querySelector('input[name="checkout_form[payment_method_nonce]"]').value = payload.nonce;
          form.submit();
          event.preventDefault();
        });
      });
    });
  });

})
</script>
