<div class="mt-3 mb-3 text-center">
  <h1>Create an Account</h1>
  <span class="text-muted">You are just one step away from joining the <strong>largest online marketplace.</strong></span>
</div>

<%= form_for :user, url:'/users' do |f| %>
  First Name: <%= f.text_field :firstname, class:'form-control mb-3', placeholder:'John' %>
  Last Name: <%= f.text_field :lastname, class:'form-control mb-3', placeholder:'Smith' %>
  Email: <%= f.text_field :email, class:'form-control mb-3', placeholder:'johnsmith@email.com' %>
  Password: <%= f.password_field :password, class:'form-control' %>
  <%= f.submit "Submit", class:'btn btn-primary mt-3' %>

<% end %>

<div class="container-fluid p-0 mt-3">
  Already have an account? <%= link_to "Login Here", login_path, class:"btn btn-outline-success btn-sm" %>
</div>
