<h1 class="mt-3">My Profile</h1>

<div class="mb-3">
  <% if @user.role == "admin" %>
  <h5 class="mt-3">Account Level: <span class="badge badge-warning"><%= @user.role %></span></h5>
  <% else %>
  <h5 class="mt-3">Account Level: <span class="badge badge-primary"><%= @user.role %></span></h5>
  <% end %>
</div>

<div>
  <h4><%= @user.firstname %> <%= @user.lastname %></h4>
  <h6><em><%= @user.email %></em></h6>
</div>
